@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;

.income-page {
  .cds--progress-bar {
    margin-bottom: $spacing-05;
  }

  .cds--progress-bar__label {
    color: $text-primary;
  }

  .cds--progress-bar__helper-text {
    color: $text-secondary;
  }
}
