@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.experimental-log {
  .log__description {
    margin-bottom: $spacing-06;
    color: $text-secondary;
  }

  .log__chart-tile {
    min-height: 24rem;
    margin-bottom: $spacing-05;
  }

  .log__note {
    color: $text-secondary;
    font-style: italic;
  }
}
