@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;
@use '@carbon/react/scss/colors' as *;

.stock-prices-page {
  .stock-prices-table {
    thead {
      background: #161616;
    }

    tbody tr {
      &:hover {
        background: #393939;
      }
    }
  }
}
